#global-container{
    position: relative;
   
}


html, body{
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

//header-desktop

.header-desktop-area{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 1;
    transition: all 0.3s;

    &:hover{
        background-color: rgb(255, 255, 255);

        .header-title-main{
            color: red !important;
        }

        .header-title-sub{
            color: red !important;
        }

        a{
            color: red !important;
        }

        .black-img{
            opacity: 0;
        }

        .red-img{
            opacity: 1 !important;
        }

    }

    .header-title-box{
        

        .header-title-main{
            margin-left: 60px;
            font-family: 'Anton', sans-serif;
            font-size: 2.5rem;
            letter-spacing: 2px;
            color: rgb(255, 255, 255);

        }
        .header-title-sub{
            font-family: 'Oxygen', sans-serif;
            font-size: 1.1rem;
            color:rgb(255, 255, 255);
            margin-left: 60px;
            transform: translateY(-15px);
        }

    }

    .header-nav-box{
        align-self: flex-end;
        margin-right: 60px;
        width: 50%;
        
        ul{

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5%;
            

            li{
                position: relative;
                list-style: none;

                .hover-point{
                    position: absolute;
                    top: 75%;
                    left: 30%;
                    width: 41%;
                    height: 100%;
                    background-color:rgba($color: #fd4e4e, $alpha: 1.0);
                    border-radius: 100%;
                    transform: scale(0);
                    transition: all 0.3s ease;

                }

                &:nth-child(3){
                    
                    .hover-point{
                        top: 97%;
                        left: 25%;
                        width: 41%;
                        height: 55%;
                        transition: all 0.5s ease;
    
                    }

                    &:hover{

                        .hover-point{
                            transform: scale(0.45);
                        }
    
                }

            }

                &:hover{

                    .hover-point{
                        transform: scale(0.25);
                    }

                }

                

                a{
                    font-family: 'Noto Sans JP', sans-serif;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }

            .header-nav-logo{
                position: relative;
                width:25px;
                height: 25px;
                cursor: pointer;

                .hover-point{
                    position: absolute;
                    top: 120%;
                    left: 30%;
                    width: 41%;
                    height: 40%;
                    background-color:rgba($color: #fd4e4e, $alpha: 1.0);
                    border-radius: 100%;
                    transform: scale(0);
                    transition: all 0.3s ease;
                }

                &:hover{
                    .hover-point{
                        transform: scale(0.7);
                    }
                }

                .black-img{
                    width: 100%;
                    height: 100%;

                }

                .red-img{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    
                }
            }
        }

    }
}

//↑


//swiper

.swiper-area{
    position: relative;
    z-index: 0;

    .swiper{

        width: 100%;
        

        .swiper-wrapper{


            .swiper-slide{

                width: 100%;

                img{
                    width: 100%;
                    height: 100%;
                }

                .text-box{
                        position: absolute;
                        bottom: 25%;
                        right: 10%;
                        overflow: hidden;

                    div{
                        
                        color: white;
                        font-size: 5rem;
                        font-family: 'Noto Serif JP', serif;
                    }

                }
                
            }
        }
    }
}
//


//note

.note-area{
    margin-top: 80px;

    .note-box{
        text-align: center;

        button{

            background-color: rgb(255, 255, 255);
            border: 1px solid #ff0000;
            color: #ff0000;
            font-weight: bold;
            padding: 20px 10px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: all 0.3s;

            &:hover{

                background-color:red;
                color: white;
            }
        }
    }
}
//@at-root


//pick-up

.pick-up-area{
    margin-top: 80px;
    width: 100%;
    position: relative;

    .pick-up-box{
        width: 100%;

        .pick-up-text-area{
            position: relative;
            background-color: #80808015;
            width: 75%;
            height: 700px;


            .text-area{
                display: inline-block;
                position: absolute;
                top: 20%;
                left: 20%;

                .pickup-text{
                    font-size: 2.5rem;
                }

            }

            .swiper-text{

                top:45%;
                left: 36%;

                div{
                    font-size: 2rem;
                    font-family: 'Noto Sans JP', sans-serif;
                }
                span{
                    display: inline-block;
                    margin-top: 40px;
                    color: rgb(99, 99, 99);
                    font-size: 1rem;
                    font-family: 'Noto Sans JP', sans-serif;
                    letter-spacing: 2px;
                    
                }
            }

                
            

            button{
                position: absolute;
                bottom: 10%;
                left: 35%;
                background-color: white;
                border:1px solid rgba(110, 110, 110, 0.5);
                font-size: 1.5rem;
                padding: 10px 20px;
                color: rgb(100, 100, 100);
                font-family: 'Noto Sans JP', sans-serif;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{

                    background-color: rgba(110, 110, 110, 0.5);
                    color: white;
                }
            }
        

        .swiper-img{
            width: 40%;
            position: absolute;
            right: -10%;
            bottom:-20%;
            z-index: 1;



            .swiper-pagination{

               position: absolute;
               top: -5%;

               
               .swiper-pagination-bullet{

                background-color: black;
                transform: scale(0.9);
               }

            }
            
        }
   

    }
}
}


//@at-root


//News

.news-area{

    width: 100%;
    margin-top: 250px;

    .news-box{

        opacity: 0;
        transform: translateY(-10%);
        transition: all 1s;
        width: 90%;
        margin: 0 auto;

        &.open-news{
            opacity: 1;
            transform: translateY(0);
        }
        

        .news-text{

            font-size: 3rem;
            font-family: 'Noto Sans JP', sans-serif;
            margin-bottom: 50px;


        }


        .news-details-box{

            display: flex;
            

            .newsroom{
                border-top: 1px solid rgba(133, 133, 133,0.5);
                border-bottom: 1px solid rgba(133, 133, 133,0.5);
                margin-right: 30px;
                font-size: 1.5rem;
                font-family: 'Noto Sans JP', sans-serif;
                padding-top: 22px;
                width: 25%;
                text-align: center;

            }

            .details{
                border-top: 1px solid rgba(133, 133, 133,0.5);
                border-bottom: 1px solid rgba(133, 133, 133,0.5);
                width: 75%;

                ul{

                    padding-inline-start:0 !important;
                 
                    
                    li{
                        list-style: none;
                        padding: 80px 30px;
                        cursor: pointer;


                        &:nth-child(1){
                            border-bottom:1px solid rgba(133, 133, 133,0.5) ;
                        }
                        &:nth-child(2){
                            border-bottom:1px solid rgba(133, 133, 133,0.5) ;
                        }


                        .a{
                            display: inline-block;
                            margin:0 40px;
                            font-size: 1.1rem;
                            font-family: 'Noto Sans JP', sans-serif;



                        }

                        .b{
                            display: inline-block;
                            font-family: 'Noto Sans JP', sans-serif;
                            font-size: 1.1rem;
                            margin-left: 30px;
                        }


                    }
                }
            }
        }
    }
}
//@at-root



//lookmore

.look-more-area{

    margin-top: 150px;
    width: 100%;
    text-align: center;

.look-more-box{
    transform: translateY(-10%);
    opacity: 0;
    transition: all 1s;


    .btn{
        position: relative;
        display: inline-block;
        transform-style: preserve-3d;
        perspective: 300px;
        width: 150px;
        height: 50px;
        margin: 0 auto;
        cursor: pointer;
        transform: scale(1.3);

        &.cubic{
            & span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height:100%;
                border: 1px solid black;
                line-height: 48px;
                text-align: center;
                transition: all 0.3s;
                transform-origin: center center -25px;
            }

            & .hovering{
                background-color: black;
                color: white;
                transform: rotateX(90deg);
            }

            & .default{

                background-color: white;
                color: black;
                transform: rotateX(0);
            }

            &:hover{

                & .hovering{

                    transform: rotateX(0);
                }

                & .default{
                    transform: rotateX(-90deg);
                }
            }
        }
    }

    

    &.open-look-more{
        
    transform: translateY(0);
    opacity: 1;
    }
}
}

//@at-root


//footer

.footer-box{
    margin-top: 200px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
   
    display: flex;
    
    
    padding-bottom: 80px;


    .copy-text{
        font-size: 1.2rem;
        font-family: 'Noto Sans JP', sans-serif;
        margin-left: 100px;
        padding-top:20px;

    }

    .footer-text-box{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px 15%;

        
        .footer-text{
            padding-top:50px;
            
            a{
                font-family: 'Noto Sans JP', sans-serif;
                text-decoration: none;
                color: black;
            }
            
        }
    }

}

//mobile-header削除
.mobile-desktop{
    opacity: 0;
    visibility: none;
    width: 0;
    height: 0;
}